<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
<!--        <form action="publish" method="post">-->
<!--            <input type="text" name="message" />-->
<!--            <button type="submit">submit</button>-->
<!--        </form>-->
        <textarea name="messages" id="" cols="30" rows="10">
            <th:block  th:each="message:${messages}">
                [[${message.get}]]
            </th:block>
        </textarea>
    </div>
</body>

</html>